.contador{
    text-align: center;
}
.contador input{
    font-size: 1.4rem;
    width: 70px;
    margin: 15px;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contador button{
    margin: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    font-size: 1.4rem;
    color: white;
    background-color: rgb(45, 20, 081);
}